section#slider-bottom {
    background-color: #fff;
}
.padding-class-50{
    padding: 15px 0px;
    display: block;
}

section.single-logo {
    border: 2px solid #F9F9F9;
    padding: 30px;
    box-shadow: 0px 1px 5px 3px #F9F9F9;
}
section.single-logo img{
    width: 100%;
}
.section-title{
    margin-top: 80px;
    margin-bottom: 50px;
}
.section-title h1{
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
}
.section-title p{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}